/backend/knowledge/data/
/front/knowlege_platform_ui/.vscode/
/knowledge-test/
/backend/app/.env
/.idea
/backend/app/.venv/
/backend/knowledge/.venv/
/.venv/
/.vscode/
/backend/knowledge/.env
/front/agent_web_ui/node_modules/
/front/knowlege_platform_ui/node_modules
/front/agent_web_ui/node_modules
/.vscode/
/deploy/env/
